.About {
  color: $primary-text-color;
  line-height: 2rem;
  letter-spacing: 0.05rem;
  max-width: 43.75rem;
  margin-left: auto;
  margin-right: auto;

  @include breakpoint(md) {
    padding-left: 5%;
    padding-right: 5%;
  }

  .about-block {
    padding-top: 1rem;
  }

  p {
    font-size: 0.9rem;
    text-align: center;
    text-decoration: none;
    padding-bottom: 1.25rem;
  }

  .center {
    text-align: center;
  }

  ul {
    text-align: center;
    text-decoration: none;
    padding-bottom: 0.625rem;
  }

  a {
    text-decoration: none;
    color: $link-color;

    &:hover {
      color: $link-hover-color;
    }
  }

  .line {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.625rem;
    margin-bottom: 1.25rem;
    width: 30%;
    border-bottom: 1px solid rgba(#fff, 0.5);
  }
}
