.main-container {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  min-width: 21.88rem;

  @include breakpoint(huge) {
    width: 85%;
  }

  @include breakpoint(xl) {
    width: 100%;
  }
}
