.menubar {
	text-align: center;
	background-color: $secondary-color;
	margin-left: 0.125rem;
	margin-right: 0.125rem;
	
	ul {
		background-color: $secondary-color;
		text-align: center;
		position: relative;
		display:inline-block;		
		font-size: 1rem;
		line-height: 2rem;
		vertical-align: middle;
		margin-left: -0.4rem;
				
		li {
			float: left;
			a {
				display: block;
				color: $primary-text-color;
				text-decoration:none;
				text-align: center;
				padding: 0.875rem 1rem;

				&:hover {
					background-color: $primary-color;
				}
            }
    
			.active{
				background-color: $primary-color;
			}
		}
	}
}