html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	font-family: 'Open Sans Condensed', sans-serif;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
	background-color: #000000;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*-----------Header/Banner-----------*/

header {
	margin-left: 2px;
	margin-right: 3px;
	position: relative;
	.banner {
		display:block;
		width: 100%;
		position: relative;
	}
	.artistBlock {
		position: absolute;
		bottom: 10%;
		z-index: 1;
		color: white;
		width: 100%;

		h1{		
			font-size: 2em;
			font-weight: bold;
			text-align: center;
		}

		h3{
			font-size: 1em;
			text-align: center;	
		}
			
		.artistImg {
			position: relative;
			width: 100px;
			left: 50%;
			margin-left: -50px;	
		}
	}
}

.mainContainer {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

.menubar {
	text-align: center;
	background-color: #333;
	margin-left: 2px;
	margin-right: 4px;
	
	ul {
		background-color: #333;
		text-align: center;
		position: relative;
		display:inline-block;		
		font-size: 1.5em;
		line-height: 33px;
  		vertical-align: middle;
				
		li {
			float: left;
			
			
			
			a {
				display: block;
				color: #fff;
				text-decoration:none;
				text-align: center;
				padding: 14px 16px;
			}
			a:hover {
				background-color: #111;
			}
		}
	}
}

.gallery {
	width: 100%;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }

.clearfix { display: inline-block; }

* html .clearfix { height: 1%; }
.clearfix { display: block; }

.clearLeft{
    clear: left;
}

.About {
	color: white;
	h1{		
		font-size: 2em;
		font-weight: bold;
		text-align: center;
	}

	p{
		font-size: 1em;
		text-align: center;
		text-decoration: none;	
	}

	ul{
		text-align: center;
	}
}